@page "/counter"
@using AlmostList.Client
@using AlmostList.Client.Anime
@using System.Text.Json;
@using AlmostList.Client.Models
@inject BaseClient baseClient 



<h2>Title</h2>
<hr />
<p>
    @data
</p>

@code {
    string value = "";
    string data = "";
    public async Task GetDataAsync()
    {
        var test = await baseClient.GetData<MediaResponse>(Queries.MediaQuery, new { id = 154587 });
        data = JsonSerializer.Serialize(test.Data.Media, new JsonSerializerOptions { WriteIndented = true });
 
    }
    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }
}
