@page "/"
@using AlmostList.Client
@using AlmostList.Client.Models.Enums
@inject NavigationManager UriHelper
@inject BaseClient baseClient


<label for="id">ID of media:</label>
<input type="number" id="id" name="id" @bind="@Id">
<select>
@foreach (var item in Enum.GetValues(typeof(PageMediaSearchType)))
{
	<option value="@item">@item</option>
}
</select>
<button class="btn btn-primary" @onclick="OnClick">Media</button>
<button class="btn btn-primary" @onclick="OnClick2">Page Media</button>
<button class="btn btn-primary" @onclick="OnClick3">User</button>
<button class="btn btn-primary" @onclick="Login">Login with AniList</button>

@code {
	string url = "https://anilist.co/api/v2/oauth/authorize";
	int clientId = 15602;
	int? Id { get; set; }
	int? type { get; set; }

	private void OnClick()
	{
		UriHelper.NavigateTo($"/Media/{Id}");
	}
	private void OnClick2()
	{
		UriHelper.NavigateTo($"/PageMedia/{type}");
	}
	private void OnClick3()
	{
		UriHelper.NavigateTo($"/UserMain/{Id}");
	}
	private async void Login()
	{

		try
		{
			// Uri uri = new Uri($"https://anilist.co/api/v2/oauth/authorize?client_id={clientId}&response_type=token");
			// BrowserLaunchOptions options = new BrowserLaunchOptions()
			//     {
			//         LaunchMode = BrowserLaunchMode.SystemPreferred,
			//         TitleMode = BrowserTitleMode.Show,
			//         PreferredToolbarColor = Colors.Black,
			//         PreferredControlColor = Colors.SandyBrown
			//     };

			// await Browser.Default.OpenAsync(uri, options);

			WebAuthenticatorResult authResult = await WebAuthenticator.Default.AuthenticateAsync(
				new WebAuthenticatorOptions()
					{
						Url = new Uri($"https://anilist.co/api/v2/oauth/authorize?client_id={clientId}&response_type=token"),
						CallbackUrl = new Uri("myapp://"),
						PrefersEphemeralWebBrowserSession = true
					});

			string accessToken = authResult?.AccessToken;
			baseClient.SetToken(accessToken);
		}
		catch (Exception ex)
		{
			// An unexpected error occurred. No browser may be installed on the device.
		}
	}
}