@page "/UserMain/{Id:int}"

@using AlmostList.Client
@using AlmostList.Client.Models
@using AlmostList.Client.Models.Responses
@using GraphQL
@using Newtonsoft.Json
@inject BaseClient baseClient

@if (@render)
{
	<card>
		<div class="header">
			<img class="bannerimage" src="@userMain.Data.User.BannerImage" />
			<img class="coverImage" src="@userMain.Data.User.Avatar.Large" />
			<div class="headerInfo">
				<text class="title">@userMain.Data.User.Name</text>
			</div>
		</div>
	</card>

}

@code {
	[Parameter]
	public int Id { get; set; }
	public string data { get; set; }
	bool render = false;
	GraphQLResponse<UserMainResponse> userMain = new GraphQLResponse<UserMainResponse>();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			userMain = await baseClient.GetUser(Id, null);
			// var a = await baseClient.GetMediaListEntry(Id);
			//var a = await baseClient.GetMediaWithMediaList(Id);
			//data = JsonConvert.SerializeObject(a.Data, Formatting.Indented);

			render = true;
			StateHasChanged();
		}
	}

}
