@page "/weather"
@using AlmostList.Client
@using AlmostList.Client.Anime
@using System.Text.Json;
@using AlmostList.Client.Models

<h2>Title</h2>
<hr />
<p>
    @data
</p>

@code {
    string value = "";
    string data = "";
    public async Task GetDataAsync()
    {
        var test = await new BaseClient(Queries.ListMedia, new { page = 1 }).GetData<PagesMediaResponse>();
        data = JsonSerializer.Serialize(test.Data.Page, new JsonSerializerOptions { WriteIndented = true });

    }
    protected override async Task OnInitializedAsync()
    {
        await GetDataAsync();
    }
}