@{
	var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="popupOverlay @showClass" @onclick="Close"></div>
<div class="popupContainer @showClass" data-bs-autohide="true" data-bs-delay="5000">
	<div class="popupWrapper" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="popupHeader">
			<button type="button" class="popupClose" @onclick="Close">x</button>
		</div>
		<div class="popupBody">
			@ChildContent
		</div>
	</div>
</div>

@code {
	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public EventCallback<bool> IsVisibleChanged { get; set; }

	public void Show()
	{
		IsVisible = true;
		StateHasChanged();
	}

	private void Close()
	{
		IsVisible = false;
		StateHasChanged();
	}
}