@using AlmostList.Client.Models.Properties.Common
@using System.Globalization

<CascadingValue Value="this">
	@if (!string.IsNullOrEmpty(_data))
	{
		<div class="row">
			<div>@Text</div>
			<div>@_data</div>
		</div>
	}
</CascadingValue>

@code {
	[Parameter] public string? Text { get; set; }
	[Parameter] public RenderFragment? ChildContent { get; set; }
	string? _data { get; set; } 
	[Parameter] public string? Data { get => _data; set { _data = value == null ? value : value.Trim(); } }
}

