@using AlmostList.Client.Models.Properties.Common
@using System.Globalization

<CascadingValue Value="this">

	@if (Data.Count > 0)
	{
		<div class="row">
			<div>@Text</div>
			@foreach (var item in Data)
			{
				<div>@item</div>
			}
		</div>

	}
</CascadingValue>


@code {
	[Parameter] public string? Text { get; set; }
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public List<string>? Data { get; set; }
}
