@using AlmostList.Client
@inject NavigationManager UriHelper
@inject BaseClient baseClient

<div class="navbar">
	<a @onclick='() => UriHelper.NavigateTo("/")'>Home</a>
	<a @onclick='() => UriHelper.NavigateTo("/PageMedia")'>Search</a>
	<a @onclick='() => UriHelper.NavigateTo($"/User/{baseClient.CurrentUser.Viewer.Id}")'>Profile</a>

</div>
