@using AlmostList.Client
@inject NavigationManager UriHelper
@inject BaseClient baseClient

<div class="navbar">
	<a @onclick='() => UriHelper.NavigateTo("/")'>Home</a>
	<a @onclick='() => UriHelper.NavigateTo("/PageMedia")'>Search</a>
	<a @onclick='() => OpenProfile()'>Profile</a>
</div>

@code{
	private void OpenProfile()
	{
		int? id = baseClient.CurrentUser == null ? null : baseClient.CurrentUser.Viewer.Id;
		UriHelper.NavigateTo($"/User/{id}");
	}
}